.aboutme-div {
    margin-top: 80px;
    text-align: center;
}

.avatar {
    border-radius: 185px;
    height: 270px;
}

.social-div {
    margin-top: 90px;
}

.social-item {
    padding: 20px 26px;
}

.social-item:hover {
    opacity: 0.5;
    filter: blur(1px);
}

.social-image {
    height: 40px;
}

.aboutme-text {
    margin-left: 250px;
    margin-right: 250px;
}