.article-image {
    width: 625px;
    height: 350px;
    border-radius: 10px;
}

.article-table {
    border: 2px solid whitesmoke;
    color: whitesmoke;
    width: 625px;
    height: 350px;
}

.table-link {
    color: lime;
}

.table-link:hover {
    color: limegreen;
}

.table-link:visited {
    color: burlywood;
}

th {
    background-image: linear-gradient(45deg, black, transparent);
    background-color: orchid;
    padding-left: 5px;
    padding-right: 5px;
}

td {
    background-color: black;
    background-image: linear-gradient(45deg, purple, transparent);
    text-align: center;
}

.article-heading {
    text-align: center;
    margin-top: 150px;
}

.article-div {
    display: flex;
    justify-content: center;
    margin-bottom: 130px;
}