.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 90%;
}

.navbar-ul {
    list-style-type: none;
    display: inline-block;
}

.navbar-item {
    padding: 15px 41px;
    display: inline-block;
    font-size: 160%;
}

.navbar-link {
    display: inline-block;
    text-decoration: none;
    color: white;
}

.navbar-link:hover {
    color: whitesmoke;
}

.navbar-active {
    color: deepskyblue;
}

.logo {
    display: inline-block;
    vertical-align: middle;
}