.navbar {
    top: 0;
    left: 0;
    width: 90%;
}

.navbar-ul {
    list-style-type: none;
    display: inline-block;
}

.navbar-item {
    padding: 15px 41px;
    display: inline-block;
    font-size: 160%;
}

.navbar-link {
    display: inline-block;
    text-decoration: none;
    color: white;
}

.navbar-active {
    color: deepskyblue;
}

.logo {
    display: inline-block;
    vertical-align: middle;
}

@media (max-width: 375px) {
    .logo {
        visibility: hidden;
    }
    .navbar {
        width: 295px;
    }
    .navbar-item {
        padding: 5px 30px;
        font-size: 120%;
    }
}

@media (max-width: 414px) {
    .logo {
        visibility: hidden;
    }
    .navbar {
        width: 320px;
    }
    .navbar-item {
        padding: 7px 32px;
        font-size: 130%;
    }
}