.tools-heading {
    text-align: center;
    margin-top: 150px;
}

.tools-table {
    margin-left: auto;
    margin-right: auto;
}

th {
    padding: 17px;
}

td {
    padding: 10px;
}

.table-link {
    color: lime;
}

.table-link:hover {
    color: limegreen;
}

.table-link:visited {
    color: burlywood;
}