.tools-heading {
    text-align: center;
    margin-top: 150px;
}

.tools-table {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 225px;
    border: 2px solid whitesmoke;
}

th {
    padding: 17px;
}

td {
    padding: 10px;
}

.table-link {
    color: lime;
}

.table-link:hover {
    color: limegreen;
}

.table-link:visited {
    color: burlywood;
}

@media (max-width: 375px) {
    .tools-table {
        width: 170px;
        height: 100px;
    }
    .tools-heading {
        font-size: 20px;
    }
}

@media (max-width: 414px) {
    .tools-heading {
        font-size: 20px;
    }
}

@media (max-width: 390px) {
    .tools-table {
        width: 360px;
        height: 100px;
    }
}